In [ ]:
#database เป็น mySQL

pip install pymysql

In [28]:
import config

In [29]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host=config.MYSQL_HOST,
                             port=config.MYSQL_PORT,
                             user=config.MYSQL_USER,
                             password=config.MYSQL_PASSWORD,
                             db=config.MYSQL_DB,
                             charset=config.MYSQL_CHARSET,
                             cursorclass=pymysql.cursors.DictCursor)

In [33]:
with connection.cursor() as cursor:
  # Read a single record
  sql = "SELECT * from online_retail"
    #cursor.execute("show tables;") ใช้คำสั่งนี้แสดงชื่อตารางทั้งหมดที่มีใน database ได้
  cursor.execute(sql)
  result = cursor.fetchall()

print("number of rows: ", len(result), "⁀⊙﹏☉⁀")

number of rows:  345519 ⁀⊙﹏☉⁀

In [53]:
type(result)

list

In [38]:
import pandas as pd

In [51]:
df_online_retail = pd.DataFrame(result)


#ถ้าอยาก save เป็น csv
# pd.DataFrame(result).to_csv("online_retail.csv")
# df_online_retail.read_csv("online_retail.csv")

In [52]:
df_online_retail.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [50]:
df_online_retail[["InvoiceNo","StockCode","Description","Quantity","CustomerID"]]

,InvoiceNo,StockCode,Description,Quantity,CustomerID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,17850.0
1,536365,71053,WHITE METAL LANTERN,6,17850.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,17850.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,17850.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,17850.0
...,...,...,...,...,...
345514,550638,22960,JAM MAKING SET WITH JARS,1,NaN
345515,550638,22961,JAM MAKING SET PRINTED,1,NaN
345516,550638,22978,PANTRY ROLLING PIN,1,NaN
345517,550638,22982,PANTRY PASTRY BRUSH,1,NaN
345518,550638,23193,BUFFALO BILL TREASURE BOOK BOX,1,NaN